body {
  background: #000000;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  letter-spacing: 2px;
}
img {
  border-radius:  50%;
}
.outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  /* Whatever width you want */
}
.profile-picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  height: auto;
  max-width: 260px;
}
.profile-name {
  text-align: center;
  padding: 22px;
  font-size: 20px;
}
.links {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid white;
  border-width: 1px;
  width: 240px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}
a {
  text-decoration: none;
  color: white;
  transition: color 1s; 
}
a:hover {
  color: #000;
  background: #fff;
}

.collections-b {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid rgb(70, 210, 235);
  border-width: 1px;
  width: 240px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.collections-o {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid rgb(240, 157, 89);
  border-width: 1px;
  width: 240px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}
