
/* Global */
html {
  margin: 0;
  padding:  0;
  scroll-behavior: smooth;
}

body {
  margin:  0;
  padding:  0;
  overflow-x:  hidden;
  font-family: 'Noto Sans', sans-serif;
  font-size:  120%;
  font-weight: 300;
  color: #FFF;
  background-color: #000;
  background-image: url('detail/sample-big.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: -400px 0px;
}

::selection {
    background: rgba(247,78,9,0.9);
    color: #FFF;
    text-shadow: none;
}

.clear:before,
.clear:after {
    content:' ';
    display:table;
}

.clear:after {
    clear:both;
}
.clear {
    *zoom:1;
}

img {
  max-width: 100%;
  height: auto;
}


h1, h2, h3 {
  weight:  400;
}

 a{color: #FFF;}
 a:hover {text-decoration:none;}

/* Animations */

@keyframes fadein {
  0% {opacity: 0;}
  100% {opacity: 1;}
  }


/* Header */

header {
  margin: 0;
  padding:15px;
}

.title-left {
  float: left;
  margin-top:-20px;
  animation: fadein ease-in 0.5s;
  animation-fill-mode: backwards;
  animation-iteration-count: 1;
}

.title-right {
  float: right;
  font-size: 80%;
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 10px;
  animation: fadein ease-in 0.5s;
  animation-fill-mode: backwards;
  animation-delay: 0.5s;
  animation-iteration-count: 1;
}

.title-right p {
  display: flex;
}

.title-right img {
  display: flex;
  width: 50px;
  height:auto;
  border-radius:25px;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px 0 0 0;
  animation: fadein ease-in 0.5s;
  animation-fill-mode: backwards;
  animation-delay: 1s;
  animation-iteration-count: 1;
  height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease-in;
  opacity: 0;
}

nav a {font-weight: 400; text-decoration:none; border-bottom: 1px dotted rgba(255,255,255,0.8);}
nav a:hover {border-bottom: rgba(255,255,255,0);}

nav.active {
  height: auto;
  opacity: 1;
  transition: opacity 0.3s ease-in;
  padding: 5px;
  border-radius: 5px;
  background: rgba(0,0,0,0.3);
}

.hamburger {
 border-radius:5px;
 font-weight: 400;
 cursor: pointer;
}

.nav-btn {
float: left;
margin-right: 5px;
}

.nav-btn:after {
  margin-left: 5px;
  content: "menu";
}

.nav-btn.active:after {
  content: "close";
}


.deforum {opacity:0.8}


/* Layout */

.wrapper {
  width: 85%;
  margin: 0 auto;
  animation: fadein ease-in 0.5s;
  animation-fill-mode: backwards;
  animation-delay: 1.5s;
  animation-iteration-count: 1;
}

section {
  margin: 0 auto;
  padding: 50px 0;
}

section#examples {
  margin-top: 50px;
}

section#method, section#artist {
  border-top: 1px dotted rgba(255,255,255,0.3);
}


.divider {

}

.divider-full {

}

/* Samples */

.grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-row-gap: 25px;
}

.grid-item {
  border-radius:15px;

}


.grid-item img {
  border-radius:15px;
  box-shadow: 1px 0px 8px 4px rgba(255,255,255,0.07);
  -webkit-box-shadow: 1px 0px 8px 4px rgba(255,255,255,0.07);
  -moz-box-shadow: 1px 0px 8px 4px rgba(255,255,255,0.07);
}


/* Iframes */
.iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

footer {
  text-align: center;
  font-size:70%;
}


@media only screen and (min-width:768px) {

body {
  background-attachment: fixed;
}

header {
  width: 80%;
  margin: 0 auto;
}

section {
  width:  80%;
}


.wrapper {
  width: 100%;
}



.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
  grid-column-gap: 25px;
}


}


@media only screen and (min-width:1024px) {
  header {
   width: 60%;
   margin: 0 0 0 30%;
  }

  nav {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   height: auto;
   opacity: 1;
  }

  .hamburger {
    display: none;
  }

  section {
    width:  60%;
    margin: 0 0 0 30%;
  }
}

@media only screen and (min-width:1280px) {
  header {
    width: 50%;
    margin: 0 0 0 40%;
  }

  section {
    width:  50%;
    margin: 0 0 0 40%;
  }
}

@media only screen and (min-width:1440px) {
  #title h2 {font-size: 170%;}
  .title-right {font-size: 85%;}

}

@media only screen and (min-width:1680px) {
  header {
    width: 50%;
    margin: 0 0 0 30%;
  }

  section {
    width:  50%;
    margin: 0 0 0 30%;
  }

  .grid-container {
  grid-template-columns: auto auto auto auto;
}
}